.object-fit-contain{
    width: 100%; 
    height: auto; 
    object-fit: contain;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
}
  
.img-container img {
    width: calc(33.33% - 10px); 
    margin-bottom: 20px;
}
  
.navbar-brand img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}
  


  
  
  
  
  